{extend name="common@layout:base" /}
{block name="title"}导航栏列表 - {__block__}{/block}

{block name="main"}
<button class="btn btn-success" onclick="modal.add()">
    <i class="ace-icon fa fa-plus"></i>添加
</button>
<div class="hr dotted"></div>

{empty name="data"}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times; </button>
    没有查询到数据记录
</div>
{else/}
<form action="{:url('sortApi')}" method="post" id="list-form">
    <table id="simple-table"
           class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>名称</th>
            <th>URL</th>
            <th>排序</th>
            <th>是否显示</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="data" item="v"}
        <tr>
            <td>{$v['_name']}</td>
            <td>{$v['nav_url']}</td>
            <td>
                <input type="hidden" name="nav_id[]" value="{:$v['nav_id']}">
                <input type="text" class="input-mini" name="nav_sort[]" value="{:$v['nav_sort']}">
            </td>
            <td>
                <label class="inline">
                    <?php $check = $v['nav_is_show'] == 1 ? 'checked="checked"' : ''; ?>
                    <input type="checkbox" class="ace ace-switch ace-switch-4 is-link-btn" {$check}/>
                    <span class="lbl middle"></span>
                </label>
            </td>
            <td>{$v['updated_at']}</td>
            <td>
                <input type="hidden" name="nav_name" value="{$v['nav_name']}">
                <button class="btn btn-xs btn-success" data-toggle="button" navId="{$v['nav_id']}"
                        onclick="modal.add_child(this)">
                    <i class="icon-plus bigger-120"></i> 添加子权限
                </button>
                &nbsp;
                <button class="btn btn-xs btn-info" data-toggle="button" navId="{$v['nav_id']}"
                        onclick="modal.edit(this)">
                    <i class="icon-pencil"></i> 修改
                </button>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="hr dotted"></div>
    <button id="loading-btn" type="button" class="btn btn-primary" data-loading-text="正在提交...">
        提交排序
    </button>
    <div class="hr dotted"></div>
</form>

<div class="modal fade" id="nav-div" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class="modal-title" id="myModalLabel"> 导航栏管理</h4></div>
            <div class="modal-body">
                <form id="auth-form" class="form-inline" action="{:url('formFnApi')}" method="post">
                    <input type="hidden" name="nav_id" value="">
                    <input type="hidden" name="nav_pid" value="0">
                    <input type="hidden" name="form_type" value="1">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <th width="15%">导航栏<br/>名称：</th>
                            <td>
                                <input class="input-large" type="text" name="nav_name">
                                <span class="help-inline middle red">*</span>
                            </td>
                        </tr>
                        <tr>
                            <th>URL：</th>
                            <td>
                                <input class="input-large" type="text" name="nav_url">
                                <span class="help-inline middle red">*</span>
                                <span class="help-block">输入模块/控制器/方法即可（例如 Homg/Nav/index）</span>
                            </td>
                        </tr>
                        <tr>
                            <th>显示：</th>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="radio" name="nav_is_show" value="1"> 是
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="nav_is_show" value="0"> 否
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-sm btn-success" type="button" value="提交" onclick="modal.send()">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{/empty}

{/block}
{block name="scripts"}
<script>
    var ApiEdit = "{:url('editAjax')}";
    var modal = {
        // 添加菜单
        add: function () {
            var data = [];
            modal._fetch(data, 1);
        },

        // 添加子菜单
        add_child: function (obj) {
            var data = {'nav_pid': $(obj).attr('navId')};
            modal._fetch(data, 2);
        },

        // 修改菜单
        edit: function (obj) {
            layer.load(2);
            $.post(ApiEdit, {nav_id: $(obj).attr('navId')}, function (data) {
                layer.closeAll('loading');
                if (data.status == 1) {
                    modal._fetch(data.data, 3);
                } else {
                    layer.msg(data.info, {icon: 5});
                }
            }, 'json');
        },

        // 提交表单
        send: function () {
            layer.load(2);
            var form = $("#auth-form");
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                dataType: "json",
                success: function (res) {
                    layer.closeAll('loading');
                    if (res.status == 1) {
                        layer.msg(res.info, {icon: 6, time: 1000}, function () {
                            window.location.href = res.data['JumpUrl'];
                        });
                    } else {
                        layer.msg(res.info, {icon: 5});
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.closeAll('loading');
                    layer.msg('服务器正在忙，请销后提交。', {icon: 5});
                    console.log(XMLHttpRequest.status);
                    console.log(XMLHttpRequest.readyState);
                    console.log(textStatus);
                }
            });
        },

        // 渲染表单数据
        _fetch: function (data, form_type) {
            console.log(data);
            var form = $("#auth-form");
            $("input[name='form_type']").val(form_type);

            if (data.hasOwnProperty('nav_id')) {
                $("input[name='nav_id']").val(data['nav_id']);
            } else {
                $("input[name='nav_id']").val('');
            }

            if (data.hasOwnProperty('nav_pid')) {
                $("input[name='nav_pid']").val(data['nav_pid']);
            } else {
                $("input[name='nav_pid']").val('');
            }

            if (data.hasOwnProperty('nav_name')) {
                $("input[name='nav_name']").val(data['nav_name']);
            } else {
                $("input[name='nav_name']").val('');
            }

            if (data.hasOwnProperty('nav_url')) {
                $("input[name='nav_url']").val(data['nav_url']);
            } else {
                $("input[name='nav_url']").val('');
            }

            if (data.hasOwnProperty('nav_is_show') && data['nav_is_show'] == 1) {
                form.find("input[name='nav_is_show'][value='0']").prop('checked', false);
                form.find("input[name='nav_is_show'][value='1']").prop('checked', true);
            } else {
                form.find("input[name='nav_is_show'][value='1']").prop('checked', false);
                form.find("input[name='nav_is_show'][value='0']").prop('checked', true);
            }
            $('#nav-div').modal('show');
        }
    };

    // TODO:是否开启功能
    $('.is-link-btn').on('click', function () {
        console.log('这里后续添加功能');
    });

    // 排序
    jQuery(function ($) {
        $('#loading-btn').on(ace.click_event, function () {
            var form = $("#list-form");
            var btn = $(this);
            btn.button('loading');
            $.post(form.attr('action'), form.serialize(), function (res) {
                btn.button('reset');
                if (res.status == 1) {
                    layer.msg(res.info, {icon: 6, time: 1000}, function () {
                        window.location.href = res.data['JumpUrl'];
                    });
                } else {
                    layer.msg(res.info, {icon: 5});
                }
            }, 'json');
        });
    })
</script>
{/block}