{extend name="common@layout:base" /}
{block name="title"}首页 - {__block__}{/block}
{block name="breadcrumbs"}
{:widget('common/Layout/breadcrumbs', ['crumbs'=>['首页']])}
{/block}
{block name="main"}
<div class="alert alert-block alert-info">
    欢迎使用
    <strong class="green">
        艾家网后台管理系统
        <small>({$version})</small>
    </strong>
</div>
<div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    <i class="ace-icon glyphicon glyphicon-ok"></i>
    友情提示：经常查看操作日志，发现异常以便及时追查原因。
</div>

<div class="hr hr32 hr-dotted"></div>
<div class="row">
    {foreach name="info" item="val" key="tit"}
    <div class="col-sm-12 col-md-6 widget-container-col">
        <div class="widget-box" id="widget-box-4">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">{$tit}</h4>
                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class="ace-icon fa fa-cog"></i>
                    </a>
                    <a href="#" data-action="reload">
                        <i class="ace-icon fa fa-refresh"></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main ">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        {foreach name="val" item="v"}
                        <tr>
                            <td width="120px"><strong>{$key}</strong></td>
                            <td>{$v}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {/foreach}
</div>
<div class="hr hr32 hr-dotted"></div>
{/block}